
header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	
}

header nav {
	text-align: center;
	padding-top: 20px;
	letter-spacing: 2px;
}

header nav ul {
	margin: 0; 
	padding: 0;
}

header nav ul > li {
	display: inline-block;
}

header nav ul > li a {
	padding: 20px;
	display: inline-block;
	color: white;
}

a {
	text-decoration: none;
}

body {
	
	font-family: 'Montserrat', sans-serif;
}

footer {
	background-color: white;
	color: black;
	padding: 30px 0px;
}

footer nav ul {
	padding:0;
	margin:0;
}

footer nav ul > li {
	display: inline-block;
	letter-spacing: 2px;
}

footer nav ul > li a {
	text-decoration: none;
	color: black;
}

footer span {
	color:#1ABC9C;
	display: inline;
	
}

footer p {
	letter-spacing: 5px;
}
p {
	letter-spacing: 2px;
}

h1,h2 {
	text-transform: uppercase;
}

form {
	margin: auto;
    max-width: 80%;
    width: 300px;
    position: relative;


}
.button {
	padding: 15px 15px;
	background: #16a085;
	color: #fff;
	text-transform: uppercase; 
	display: inline-block;
	margin: 15px 0;
	font-size: 75%;
	letter-spacing: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover { 
	background: rgb(232, 95, 76);
}


.content_hero_section {
	text-align: center;
	max-width: 100%;
	color: white;
	letter-spacing: 7px;
	padding: 180px 0;
	
}

.hero_section {
	background: url(../images/banner.jpg) no-repeat center center;
	background-size: cover;
	padding-bottom: 5px;
}

.hero_section ul > li {
	display: inline-block;
    
}

.hero_section_logo_list {
	text-align: center;

}

.hero_section_logo_list ul {
	margin: 0;
	padding: 0;

}


.represent_sct {
	background: url(../images/banner_2.jpg) no-repeat center center;
	background-size: cover;
	
}

.represent_sct h2 {
	color: #16a085;
	letter-spacing: 2px;
}

.design_sct {
	background: url(../images/banner_3.jpg) no-repeat center center;
	background-size: cover;
}

.design_sct h2 {
	color: #16a085;
	letter-spacing: 2px;
}


.gallery_sct {
	background-color: #f5f6f8;
}
.gallery_sct h2 {
	color: black;
	letter-spacing: 2px;
}
.gallery_content {
	text-align: center;
}
.subscribe_sct {
	background: url(../images/banner_4.jpg) no-repeat center center;
	background-size: cover;
	padding: 200px;
}
.content_subscribe_sct {
	color: white;
	text-align: center;
	letter-spacing: 7px;
}

.content_subscribe_sct img {
	position: absolute;
    right: 0;
    top: 0;	

}
.content_subscribe_sct input {
	padding: 19px 81px 19px 19px; 
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;

} 
.download_sct {
	background-color: #f5f6f8;
}
.download_sct img {
	vertical-align: middle;
	margin-left: 20px;
}

.download_sct a {
}

.content_download_sct {
	text-align: center;
	max-width: 70%;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 5px;

}

.download_sct .button {
	background-color: #33C6A1;
	padding: 0 0 0 20px;
}
.download_sct .button:hover { 
	background: blue;
	opacity: 0.5;
}

.copy_rights {
	float: left;
}

.footer_logo {
	
	float: right;
}
