body {
	background: url("../images/bg-body.jpg");
	background-attachment: fixed;
	color: #595959;
    font-family:"RokkittRegular","Book Antiqua",Palatino,serif;

}

p {
	text-align: justify;
}

header {
	width: 950px;
	height: 10%;
	background: inherit;
	background-position: center center;
}

#logo {
	display: inline-block;
	padding: 30px 12px 0;
}

header nav {
	float: right;
	text-align: center;
	padding-top: 20px;
}

header nav ul {
 	margin: 0;
 	padding: 0;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 25px;
	font-size: large;
	color: inherit;
}

header nav ul li a#selected,
header nav ul li a:hover {
	color: #f28220;
}
header nav ul li a:active {
	color: red;
}



#wrapper {
	width: 950px;
	height: 1000px;
	margin: 0 auto;
}

/*---------------------"Home" page content----------------------------------*/

#separatorLine {
	position: absolute;
} 


.content {
	min-height: 400px;	
	background: inherit;
}

.content img {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#home_article {
	width: 550px;
	height: 370px;
	float: left;	
}
#content_text {
	height: 170px;
  	padding: 50px 15px 15px 15px;
  	text-align: justify;
}

#content_text h1 {
	color: #f28220;

}

#primary_btn {
	width: 25%;
	color: #FFF;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid #D17229;
    background: transparent linear-gradient(to bottom, #FFC578 0%, #D17229 81%) repeat scroll 0% 0%;
}

#primary_btn a {
	text-decoration: none;
	color: inherit;
}

#primary_btn:hover {
	background: red;
}



/* ------------------section "product content"-------------*/

.productContent {
	min-height: 500px;
	background: inherit;
	padding-left: 15px;
	padding-right: 15px;
}

.product {
	width: 270px;
	padding: 11px;
	margin: 7px;
	margin-top: 40px;
	float: left;
}

.productImageContent {
	padding: 6px;
	background: white;
	text-align: justify;
	text-decoration: none;
	border-radius: 10px;
}

.productImageContent a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}

.productImageContent:hover {
	background: orange;
}

.buttonImage {
	padding-left: 75px;
	padding-right: 75px;
	text-align: center;
}

.buttonImage span a {
	display: block;
	color: #595959;
	text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    outline: medium none;
    text-decoration: none;
}  

.buttonImage span {
	margin-top: 25px;
	margin-bottom: 90px;
	display: block;
}   
	
.buttonImage span a:hover {
	color: orange;
}


/*----------------Page "About" Content------------------*/



#aboutContent a {
	color: inherit;
}

/*----------------------Page "Blog"----------------------*/
.blogArticle {
	width: 950px;
	background: inherit;
	padding: 10px;
	margin-top: 20px;
}

.blogArticle a {
	text-decoration: none;
	font: inherit;
	color: #8a8889;
    font-size: 13px;
    font-weight: bold;
    outline: medium none;
    margin-top: 15px;
    width: auto;
} 
.imageHolder {
	background: white;
	width: 281px;
	height: 300px;
	border-radius: 7px;
	text-align: center;
	float: left;
}

.imageHolder img {
 	border: 0 none;
    margin: 10px 0 0 1px;
    float: none;
    border-radius: 10px; 
}
.smallSizedImg { 
    margin: 2px 0 0 10px;
 }
.smallSizedImg  img {
	border-radius: 8px;
    float: left;
    margin-left: 2px;
    margin-right: 14px;
}

.text { 
	float: left;
	width: 600px;
	padding-left: 40px 
}
.text h3 {
	color: #f28220;
}

.text p {
	font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.text img {
	margin: 0;
	padding: 0;
	margin-top: 16px; 
}
/*---------------------footer styles---------------------*/

footer {
	width: 950px;
	height: 200px;
	background: inherit;
	padding-top: 30px;
}

footer nav {
	padding-top: 10px;
	float: left;
	margin-right: 25px;
	margin-left: 50px;
	text-align: center;
}

footer nav ul {
 	margin: 0;
 	padding: 0;
}

footer nav ul li {
	display: inline-block;
}

footer nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	font-size: small;
	color: inherit;
}

footer nav ul li a:hover {
	color: #f28220;
}

footer span {
	text-align: center;
	float: left;
	padding-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
}

footer nav ul li a:active {
	color: red;
}

#navsprites {
	float: left;
    margin: 10px 30px 40px 50px;
    padding-left: 68px;
}    

#navsprites a#facebook {
	width:27px;
	height:28px;
	display: inline-block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat;
}
#navsprites a#twitter {
	width:36px;
	height:28px;
	display: inline-block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat 0 -48px;
	margin:0px;
}
#navsprites a#vimeo {
	width:32px;
	height:28px;
	display: inline-block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat 0 -96px;
	margin:0px;
}